html, body, #timeline-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* upper time zone display area style  */
.timezone {
    display: grid;
    grid-template-areas:
        "username time"
        "location date";
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto; 
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.userspan {
    grid-area: username;
    text-transform: capitalize;
}

.locationspan {
    grid-area: location;
    margin-left: 20px;
    font-size: smaller;
}

.output-time {
    grid-area: time;
    justify-self: end;
}

.output-date {
    grid-area: date;
    justify-self: end;
    font-size: smaller;
}

.timezone span.userspan:before{
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    background-color: rgb(170, 170, 170);
    border-radius: 50%;
    margin: 0 0.5em 0 0;
    vertical-align: -0.05em;
    transition: background-color 0.5s;
}

.timezone.open span.userspan:before {
    background-color:rgb(60, 255, 0);
}

/* modal showing task details style */
.modal-content {
    height: 300px;
    overflow-y: auto;
    position: relative;
}

.modal-header {
    position: sticky;
    top: 0; 
    background-color: #ffffff; 
    z-index: 1;
}

/* table in timeline modal style */
.timeline-modal-body {
    margin: 3%;
}

.timeline-modal-tb {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 10%;
}

.timeline-modal-tb th,
.timeline-modal-tb td {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

/* hover to overflow item show all the content */
.timeline-modal-tb td:hover {
    overflow: visible; 
    text-overflow: clip; 
    white-space: normal; 
}

.timeline-modal-tb th:nth-child(1), .timeline-modal-tb td:nth-child(1) {
    width: 20%; 
    text-transform: capitalize;
}

.timeline-modal-tb th:nth-child(2), .timeline-modal-tb td:nth-child(2),
.timeline-modal-tb th:nth-child(3), .timeline-modal-tb td:nth-child(3) {
    width: 40%;
}

.timeline-modal-tb td:nth-child(2) {
    padding-right: 5px; /* Add space between second and third column */
}

.timeline-modal-tb td:nth-child(2), .timeline-modal-tb td:nth-child(3) {
    font-size: 13px; /* Adjust this value as needed */
}