<%- include("templates/header", { currentURL: '404', navLinks }) %> 
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <h1 class="display-5 fw-bold text-white">Page not found - 404</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">error 404</p>
    </div>
</div>
<%- include("templates/footer") %>

