<%- include("templates/headerAfter", {page: "/addMembersPage", dropdown: false, backlink: "/homepage", isTaskPage: false}) %>

<div>
    <h3>
        Adding members for <%= projectName %>
    </h3>
</div>

<%- include("templates/footerAfter", {footer: false, dropdown: false, isTaskPage: false}) %>
