<%- include("templates/headerAfter", {dropdown: true, page: "/", isTaskPage: false }) %>

<div>
    This is the calendar page
</div>

<%- include("templates/footerAfter", {dropdown: true, footer: true, isTaskPage: false, isTimelinePage: false }) %>