<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clocks for days</title>
    <style>

    </style>
</head>
<body>
    <h1>Hey you shouldn't be here!</h1>
    
    <!-- Clock images -->
    <div class="image-container">
        <img src="/img/clock.gif" alt="" style="width: 150px; height: 100px; align-self: center; object-fit: cover;" class="d-flex justify-content-center">
    </div>
    <div class="image-container">
        <img src="/img/clock.gif" alt="" style="width: 150px; height: 100px; align-self: center; object-fit: cover;" class="d-flex justify-content-center">
    </div>
    <div class="image-container">
        <img src="/img/clock.gif" alt="" style="width: 150px; height: 100px; align-self: center; object-fit: cover;" class="d-flex justify-content-center">
    </div>
    <div class="image-container">
        <img src="/img/clock.gif" alt="" style="width: 150px; height: 100px; align-self: center; object-fit: cover;" class="d-flex justify-content-center">
    </div>
        <div class="image-container">
        <img src="/img/clock.gif" alt="" style="width: 150px; height: 100px; align-self: center; object-fit: cover;" class="d-flex justify-content-center">
    </div>
    <div class="image-container">
        <img src="/img/clock.gif" alt="" style="width: 150px; height: 100px; align-self: center; object-fit: cover;" class="d-flex justify-content-center">
    </div>
    <!-- Add more clock containers as needed -->

    <!-- <script>
        // Set the duration for the GIF display in milliseconds
        const gifDuration = 2500; // 5000 milliseconds = 5 seconds

        // After the GIF duration, redirect to the login page
        setTimeout(() => {
            window.location.href = '/login'; // Change '/login' to your actual login route
        }, gifDuration);
    </script> -->
<%- include("templates/footerBefore") %>