<%- include("templates/headerAfter", {page: "/createProject", dropdown: false, backlink: "/homepage", isTaskPage: false}) %>
  <!-- The Modal -->
  <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-5">Create New Project</h1>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body py-0">

          <!-- FUNCTIONAL PART OF FORM -->
          <form action="/createProjectSubmit" method="POST">
            <!-- Project name  -->
              <div class="mb-3">
                  <label for="project-name" class="form-label">Project Name</label>
                  <input type="text" class="form-control" id="projectName" name="projectName" required>
              </div>

              <!-- Members section -->
                <!-- <div class="mb-3">
                  <label for="team" class="form-label">Team</label>
                  <div id="team" class="team-inputs">
                      <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Member Email" id="memberEmail" name="memberEmail">
                        <button type="button" class="btn btn-primary">Add Member</button>
                      </div>
                      Members List append to it here--> 
                      <!-- <ul id="membersList" class="list-group">
                      </ul>
                  </div>
              </div> -->

              <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                  <button type="submit" class="btn btn-lg btn-primary">Create</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<%- include("templates/footerAfter", {footer: false, dropdown: false, isTaskPage: false, isTimelinePage: false}) %>


