<%- include("templates/header") %> <!-- Deleted , { currentURL: '/workspaceSetting' , navLinks: navLinks }-->
<% if (errorMessage) { %>
    <p><%= errorMessage %></p>
    <a href="/createProject">Try again</a>
<% } %>
<%- include("templates/footer") %> 