<%- include("templates/header", { currentURL: '/projectManagement', navLinks: navLinks }) %>
<% if (errorMessage) { %>
    <p><%= errorMessage %></p>
    <a href="/createProject">Try again</a>
<% } %>
<%- include("templates/footer") %> 