<%- include("templates/headerAfter") %> <!-- Deleted  { currentURL: 'errormessage', navLinks: navLinks }-->
    <div class="container">
        <div class="justify-content-center align-items-center">
            <p><%= error %></p>
        </div>
    </div>
<%- include("templates/footerAfter") %> 

