<%- include("templates/header", { currentURL: 'errormessage', navLinks: navLinks }) %>
<h1 style="color: red;"> Error! </h1>
<div style="color: red; font-size: large;"><%= errorMessage %></div>
<%- include("templates/footer") %> 

