<%- include("templates/headerAfter", {page: "/homepage"}) %>
    <br><br><br>
    <nav class="navbar navbar-expand-lg border-bottom">
        <div class="d-flex justify-content-between">
            <span class="navbar-brand">Projects</span>
            <button  class="navbar" href="" style="text-decoration: none; size: 10em;">+</button>
        </div>
    </nav>
    <br>
    <div class="d-flex justify-content-center" id="">No projects created</div> <!-- Gets replaced one a project is created -->
<%- include("templates/footerAfter") %>