<%- include("templates/header") %>

    <div class="container my-5">
        <div class="justify-content-center align-items-center">
            <h1 class="display-2 text-center mb-4">Hello, <%= username %>
            </h1>
            <div class="d-flex justify-content-center my-4">
                <a class="btn btn-primary btn-lg ms-5 me-3 w-50" href="/members" role="button">Temp Index</a>
                <a class="btn btn-danger btn-lg" href="/logout" role="button">Log out</a>
            </div>
        </div>
    </div>

<%- include("templates/footer") %>