<%- include("templates/header", { currentURL: '/login', navLinks: navLinks }) %>
 
<main class="form-signin w-100 m-auto" style="max-width: 400px; margin: 50px auto;">

  <form action="/logingin" method="post">
    <img class="mb-4" src="/favicon.png" alt="" width="55" height="55">
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>

    <div class="form-floating">
      <input name="email" id="id" type="email" class="form-control" placeholder="Email" required>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input name="password" id="password" type="password" class="form-control" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
    <!-- <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p> -->
  </form>

</main>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<%- include("templates/footer") %>   