<%- include("templates/headerBefore", {page: "/"}) %>
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
            <h1 class="text-body-emphasis">SyncPro</h1>
            <p class="lead text-muted">
                Welcome to SyncPro
            </p>
            <div>
                <a href="/signup" class="btn btn-primary">Sign up</a>
                <a href="/login" class="btn btn-primary">Log in</a>
            </div>
        </div>
    </div>
<%- include("templates/footerBefore") %>