<%- include("templates/header") %> <!-- Deleted { currentURL: '/members', navLinks: nvlink } -->
	<div class="container my-5">
    		<div class="p-5 text-center bg-body-tertiary rounded-3">
			<h1>Hello <%= user %>.</h1>
			<!-- <%#- include("templates/imageGrid", {images: images}) %> -->
			<br>
			<form action="/logout" method="get">
    				<button class="btn btn-primary max-width:50px margin: 50px auto;" type="submit">Logout</button>
			</form>
		</div>
	</div>
<%- include("templates/footer") %>

