<%- include("templates/header") %>

    <div class="justify-content-center">
        <h1 class="text-center mb-4">Hello <%= username %>, To Be Changed In The Future
        </h1>
    </div>

    <%- include("templates/footer") %>