<%- include("templates/header") %>

    <div class="container text-center">
        <h1 class="display-4">
            Password Changed Successfully
        </h1>
        <a href='/login' class="btn btn-primary btn-lg mt-3">Please Login</a>
    </div>

    <%- include("templates/footer") %>