<%- include("templates/headerBefore", {page: "/signup"}) %>
    <div class="container-fluid ">
        <div class="row justify-content-center align-items-center">
            <div class="col-6">
                <h1 class="text-center mb-3">Sign Up</h1>
                <form action="/signupSubmit" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Enter username">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="Enter email address">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
<%- include("templates/footerBefore") %>