<%- include("templates/headerBefore", {page: "/error"}) %>

    <div class="container text-center">
        <h1 class="display-4">
            <%= error %> is required.
        </h1>
        <a href='/signup' class="btn btn-primary btn-lg mt-3">Please Try Again</a>
    </div>

<%- include("templates/footerBefore") %>