<%- include("templates/headerAfter", {page: "/errorMessage", dropdown: false, isTaskPage: false, backlink: backlink}) %> <!-- Deleted  { currentURL: 'errormessage', navLinks: navLinks }-->
    <div class="container">
        <div class="justify-content-center align-items-center">
            <p><%= success %></p>
        </div>
    </div>
<%- include("templates/footerAfter", {footer: false, dropdown: false, isTaskPage: false, isTimelinePage: false} ) %> 

