<div class="welcome"><h2>User's ProjectName Task</h2></div>

<div class="wrapper">
    
    <div class="controls">
        <div class="filters">
            <span class="active" id="all">All</span>
            <span id="pending">Process</span>
            <span id="completed">Completed</span>
        </div>
    </div>

    <div class="row task-card-container" id="task-card-container"></div>
        <!-- The dynamically created task cards will be inserted here -->
    </div>

</div>



<div class="add-task">
    <button class="add-btn" id="add-task-btn">+</button>
</div>

<script src="./scripts/taskPage.js"></script>
</body>
</html>