<%- include("templates/headerAfter", {dropdown: true, page: "/", isTaskPage: isTaskPage }) %>


<div class="container-fluid">
    <div class="container dropdown-menu">

    </div>
    <div class="timezone-container">
        <!-- add project member local time info -->
    </div>
    
    <hr>
    
    <div id="timeline-container" class="container-fluid" style="height: 500px;"></div>
</div>
<%- include("templates/footerAfter", {dropdown: true, footer: true, isTaskPage: isTaskPage, isTimelinePage: true }) %>