<%- include("templates/headerAfter", {dropdown: true, page: "/", isTaskPage: isTaskPage }) %>

<div class="timezone-container">
    <!-- add project member local time info -->
</div>

<hr>

<div id="timeline-container" style="height: 500px;"></div>

<%- include("templates/footerAfter", {dropdown: true, footer: true, isTaskPage: isTaskPage }) %>